openapi: 3.0.0
info:
  version: '1.0'
  title: SE API Docs
  description: |-
    ## Custom Variable types
    `guid` - string that matches pattern: `/^[0-9a-fA-F]{24}$/` (24 character hexadecimal string)
    `datetime` - either timestamp in milliseconds (unix timestamp*1000) or string in ISO 8061 format
    ## Global variables
    `Authorization` - string:  JWT Token you can obtain here: https://streamelements.com/dashboard/account/channels (click "Show secrets")
    `channelId` - guid: obtained by requesting `/channels/me` endpoint with provided JWT token
    `channelName` - string: lowercase channel name
    `timezone` - integer: timezone index
  contact: {}
servers:
  - url: 'https://api.streamelements.com/kappa/v2'
paths:
  '/activities/{channel}':
    get:
      tags:
        - activities
      summary: '/:channel'
      description: List channel activities
      operationId: '/:channel'
      parameters:
        - name: after
          in: query
          description: datetime - Start date
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: before
          in: query
          description: datetime - End date
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          description: integer - events per page between 1 and 100. Default 25
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: mincheer
          in: query
          description: integer - minimum amount of bits in cheer
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: minhost
          in: query
          description: integer - minimum amount of viewers in host
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: minsub
          in: query
          description: integer - minimum amount of subscription's months
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: mintip
          in: query
          description: integer - minimum amount of tip
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: origin
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: types
          in: query
          description: 'array - Possible values: "follow", "tip", "sponsor", "superchat", "host", "raid", "subscriber", "cheer", "redemption", "merch"'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '["follow", "tip", "sponsor", "superchat", "host", "raid", "subscriber", "cheer", "redemption", "merch"]'
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Success'
                example:
                  - data:
                      username: Toy Bosco
                      amount: 33
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4cebcca14be8
                    type: merch
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-06T01:28:27.648Z'
                  - data:
                      username: Hellen Rohan
                      amount: 28
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c2d6ea14b81
                    type: cheer
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-06T01:03:03.148Z'
                  - data:
                      username: Katelynn Runolfsson V
                      amount: 43
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4cd73da14c0c
                    type: subscriber
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T19:59:50.002Z'
                  - data:
                      username: Pinkie Lowe
                      amount: 45
                      message: ''
                      tier: prime
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c7a54a14cf5
                    type: cheer
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T17:50:59.294Z'
                  - data:
                      username: Velma Langosh
                      amount: 8
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c2ae4a14b68
                    type: raid
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T17:32:09.468Z'
                  - data:
                      username: Amya Kilback
                      amount: 35
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c49b2a14c65
                    type: raid
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T16:12:40.253Z'
                  - data:
                      username: Rosemary Beatty
                      amount: 22
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c0ddaa14bcd
                    type: redemption
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T14:16:44.503Z'
                  - data:
                      username: Emma O'Connell PhD
                      amount: 8
                      message: ''
                      tier: prime
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c18b5a14d1b
                    type: tip
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T14:01:16.581Z'
                  - data:
                      username: Halie Hamill
                      amount: 20
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c78efa14b65
                    type: merch
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T13:58:26.849Z'
                  - data:
                      username: Gretchen Koepp
                      amount: 6
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4cf882a14c15
                    type: merch
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T12:02:09.516Z'
                  - data:
                      username: Kayli Greenholt
                      amount: 37
                      message: ''
                      tier: prime
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c3c2da14bb8
                    type: host
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T10:21:32.894Z'
                  - data:
                      username: Aniyah Cronin
                      amount: 2
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c0e5ea14ce8
                    type: merch
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T08:01:05.618Z'
                  - data:
                      username: Chester Beer
                      amount: 39
                      message: ''
                      tier: prime
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c02daa14bc3
                    type: cheer
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-05T03:55:39.572Z'
                  - data:
                      username: Jeramy Stark V
                      amount: 21
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c8737a14beb
                    type: merch
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T17:33:30.369Z'
                  - data:
                      username: Augustus Crona DVM
                      amount: 9
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c6e75a14c86
                    type: tip
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T17:16:39.223Z'
                  - data:
                      username: Max Jakubowski
                      amount: 11
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c719ea14b9e
                    type: host
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T16:06:41.439Z'
                  - data:
                      username: Junius Tremblay
                      amount: 3
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c3caba14c55
                    type: follow
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T16:03:53.523Z'
                  - data:
                      username: Kali Swift
                      amount: 3
                      message: ''
                      tier: prime
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c3ccca14d30
                    type: tip
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T15:28:19.542Z'
                  - data:
                      username: Patrick Kohler
                      amount: 19
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c2d71a14c28
                    type: redemption
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T14:37:28.669Z'
                  - data:
                      username: Sydni Kemmer MD
                      amount: 19
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c347ea14d0e
                    type: tip
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T09:50:17.756Z'
                  - data:
                      username: Jordi Johns
                      amount: 3
                      message: ''
                      tier: prime
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c486ca14b7f
                    type: redemption
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-04T01:34:12.037Z'
                  - data:
                      username: Mr. Rachael Bergstrom
                      amount: 45
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c2001a14c7f
                    type: host
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-03T23:46:26.492Z'
                  - data:
                      username: Osbaldo Medhurst
                      amount: 49
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4cab54a14c63
                    type: merch
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-03T22:02:52.622Z'
                  - data:
                      username: Emily Russel
                      amount: 21
                      message: ''
                      tier: '1000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4cf0f0a14c21
                    type: host
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-03T19:12:54.925Z'
                  - data:
                      username: Marco Keeling
                      amount: 35
                      message: ''
                      tier: '3000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c62d5a14d3d
                    type: tip
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-03T18:45:38.679Z'
              examples:
                default:
                  value:
                    - data:
                        username: Toy Bosco
                        amount: 33
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4cebcca14be8
                      type: merch
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-06T01:28:27.648Z'
                    - data:
                        username: Hellen Rohan
                        amount: 28
                        message: ''
                        tier: '2000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c2d6ea14b81
                      type: cheer
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-06T01:03:03.148Z'
                    - data:
                        username: Katelynn Runolfsson V
                        amount: 43
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4cd73da14c0c
                      type: subscriber
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T19:59:50.002Z'
                    - data:
                        username: Pinkie Lowe
                        amount: 45
                        message: ''
                        tier: prime
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c7a54a14cf5
                      type: cheer
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T17:50:59.294Z'
                    - data:
                        username: Velma Langosh
                        amount: 8
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c2ae4a14b68
                      type: raid
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T17:32:09.468Z'
                    - data:
                        username: Amya Kilback
                        amount: 35
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c49b2a14c65
                      type: raid
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T16:12:40.253Z'
                    - data:
                        username: Rosemary Beatty
                        amount: 22
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c0ddaa14bcd
                      type: redemption
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T14:16:44.503Z'
                    - data:
                        username: Emma O'Connell PhD
                        amount: 8
                        message: ''
                        tier: prime
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c18b5a14d1b
                      type: tip
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T14:01:16.581Z'
                    - data:
                        username: Halie Hamill
                        amount: 20
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c78efa14b65
                      type: merch
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T13:58:26.849Z'
                    - data:
                        username: Gretchen Koepp
                        amount: 6
                        message: ''
                        tier: '2000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4cf882a14c15
                      type: merch
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T12:02:09.516Z'
                    - data:
                        username: Kayli Greenholt
                        amount: 37
                        message: ''
                        tier: prime
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c3c2da14bb8
                      type: host
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T10:21:32.894Z'
                    - data:
                        username: Aniyah Cronin
                        amount: 2
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c0e5ea14ce8
                      type: merch
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T08:01:05.618Z'
                    - data:
                        username: Chester Beer
                        amount: 39
                        message: ''
                        tier: prime
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c02daa14bc3
                      type: cheer
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-05T03:55:39.572Z'
                    - data:
                        username: Jeramy Stark V
                        amount: 21
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c8737a14beb
                      type: merch
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T17:33:30.369Z'
                    - data:
                        username: Augustus Crona DVM
                        amount: 9
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c6e75a14c86
                      type: tip
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T17:16:39.223Z'
                    - data:
                        username: Max Jakubowski
                        amount: 11
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c719ea14b9e
                      type: host
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T16:06:41.439Z'
                    - data:
                        username: Junius Tremblay
                        amount: 3
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c3caba14c55
                      type: follow
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T16:03:53.523Z'
                    - data:
                        username: Kali Swift
                        amount: 3
                        message: ''
                        tier: prime
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c3ccca14d30
                      type: tip
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T15:28:19.542Z'
                    - data:
                        username: Patrick Kohler
                        amount: 19
                        message: ''
                        tier: '2000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c2d71a14c28
                      type: redemption
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T14:37:28.669Z'
                    - data:
                        username: Sydni Kemmer MD
                        amount: 19
                        message: ''
                        tier: '2000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c347ea14d0e
                      type: tip
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T09:50:17.756Z'
                    - data:
                        username: Jordi Johns
                        amount: 3
                        message: ''
                        tier: prime
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c486ca14b7f
                      type: redemption
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-04T01:34:12.037Z'
                    - data:
                        username: Mr. Rachael Bergstrom
                        amount: 45
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c2001a14c7f
                      type: host
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-03T23:46:26.492Z'
                    - data:
                        username: Osbaldo Medhurst
                        amount: 49
                        message: ''
                        tier: '2000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4cab54a14c63
                      type: merch
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-03T22:02:52.622Z'
                    - data:
                        username: Emily Russel
                        amount: 21
                        message: ''
                        tier: '1000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4cf0f0a14c21
                      type: host
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-03T19:12:54.925Z'
                    - data:
                        username: Marco Keeling
                        amount: 35
                        message: ''
                        tier: '3000'
                        avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                      provider: twitch
                      _id: 5c09463bde9a4c62d5a14d3d
                      type: tip
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-03T18:45:38.679Z'
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:25:17 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '7254'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "types" fails because ["types" must be an array, "types" is not allowed to be empty, "types" must be one of [follow, tip, sponsor, superchat, host, raid, subscriber, cheer, redemption, merch]]. child "limit" fails because ["limit" must be a number]. child "after" fails because ["after" must be a number of milliseconds or valid date string]. child "before" fails because ["before" must be a number of milliseconds or valid date string]. child "origin" fails because ["origin" is not allowed to be empty]. child "minhost" fails because ["minhost" must be a number]. child "mintip" fails because ["mintip" must be a number]. child "mincheer" fails because ["mincheer" must be a number]. child "minsub" fails because ["minsub" must be a number]'
                    details:
                      - path:
                          - types
                        message: '"types" must be an array'
                      - path:
                          - types
                        message: '"types" is not allowed to be empty'
                      - path:
                          - types
                        message: '"types" must be one of [follow, tip, sponsor, superchat, host, raid, subscriber, cheer, redemption, merch]'
                      - path:
                          - limit
                        message: '"limit" must be a number'
                      - path:
                          - after
                        message: '"after" must be a number of milliseconds or valid date string'
                      - path:
                          - before
                        message: '"before" must be a number of milliseconds or valid date string'
                      - path:
                          - origin
                        message: '"origin" is not allowed to be empty'
                      - path:
                          - minhost
                        message: '"minhost" must be a number'
                      - path:
                          - mintip
                        message: '"mintip" must be a number'
                      - path:
                          - mincheer
                        message: '"mincheer" must be a number'
                      - path:
                          - minsub
                        message: '"minsub" must be a number'
      deprecated: false
      security:
        - OAuth2:
            - 'activities:read'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
  '/activities/{channel}/top':
    get:
      tags:
        - activities
      summary: '/:channel/top'
      description: List channel's top activities by selected type
      operationId: '/:channel/top'
      parameters:
        - name: offset
          in: query
          description: integer - starting element
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: integer - number of events
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: type
          in: query
          description: 'string - Possible values: cheer, tip'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: tip
        - name: period
          in: query
          description: 'string - Possible values: alltime, months, weeks, session'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: alltime
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Success1'
                example:
                  - total: 50
                    username: Thurman Borer
                  - total: 50
                    username: Demarco Okuneva
                  - total: 49
                    username: Mr. Emile Sawayn
                  - total: 49
                    username: Ilene Wiegand
                  - total: 49
                    username: Dr. Macey Lakin
                  - total: 48
                    username: Quinten Ondricka
                  - total: 48
                    username: Audrey Heidenreich
                  - total: 48
                    username: Reymundo Mueller
                  - total: 47
                    username: Bradford Erdman
                  - total: 47
                    username: Jakayla Littel
                  - total: 47
                    username: Samanta Jacobson
                  - total: 46
                    username: Mr. Melyssa Block
                  - total: 46
                    username: Ana Erdman
                  - total: 45
                    username: Monserrat Streich
                  - total: 45
                    username: Emilie Bartell
                  - total: 45
                    username: Kellen Robel
                  - total: 45
                    username: Eleanore Reinger
                  - total: 45
                    username: Linda Homenick
                  - total: 44
                    username: Mylene Daugherty
                  - total: 44
                    username: Ashly Okuneva
                  - total: 44
                    username: Rocio Goodwin
                  - total: 44
                    username: Stacy O'Keefe
                  - total: 44
                    username: Emelie Tremblay
                  - total: 44
                    username: Pearline Nienow
                  - total: 44
                    username: Keely Hauck
              examples:
                default:
                  value:
                    - total: 50
                      username: Thurman Borer
                    - total: 50
                      username: Demarco Okuneva
                    - total: 49
                      username: Mr. Emile Sawayn
                    - total: 49
                      username: Ilene Wiegand
                    - total: 49
                      username: Dr. Macey Lakin
                    - total: 48
                      username: Quinten Ondricka
                    - total: 48
                      username: Audrey Heidenreich
                    - total: 48
                      username: Reymundo Mueller
                    - total: 47
                      username: Bradford Erdman
                    - total: 47
                      username: Jakayla Littel
                    - total: 47
                      username: Samanta Jacobson
                    - total: 46
                      username: Mr. Melyssa Block
                    - total: 46
                      username: Ana Erdman
                    - total: 45
                      username: Monserrat Streich
                    - total: 45
                      username: Emilie Bartell
                    - total: 45
                      username: Kellen Robel
                    - total: 45
                      username: Eleanore Reinger
                    - total: 45
                      username: Linda Homenick
                    - total: 44
                      username: Mylene Daugherty
                    - total: 44
                      username: Ashly Okuneva
                    - total: 44
                      username: Rocio Goodwin
                    - total: 44
                      username: Stacy O'Keefe
                    - total: 44
                      username: Emelie Tremblay
                    - total: 44
                      username: Pearline Nienow
                    - total: 44
                      username: Keely Hauck
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:26:48 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '1039'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "limit" fails because ["limit" must be a number]. child "offset" fails because ["offset" must be a number]. child "period" fails because ["period" is not allowed to be empty, "period" must be one of [alltime, months, weeks, session]]. child "type" fails because ["type" is not allowed to be empty, "type" must be one of [cheer, tip]]'
                    details:
                      - path:
                          - limit
                        message: '"limit" must be a number'
                      - path:
                          - offset
                        message: '"offset" must be a number'
                      - path:
                          - period
                        message: '"period" is not allowed to be empty'
                      - path:
                          - period
                        message: '"period" must be one of [alltime, months, weeks, session]'
                      - path:
                          - type
                        message: '"type" is not allowed to be empty'
                      - path:
                          - type
                        message: '"type" must be one of [cheer, tip]'
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
  '/activities/{channel}/{activityId}':
    get:
      tags:
        - activities
      summary: '/:channel/:activityId'
      description: Get activity details by id
      operationId: '/:channel/:activityId'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: activityId
          in: path
          description: guid - Activity id
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Success'
              examples:
                default:
                  value:
                    data:
                      username: Hellen Rohan
                      amount: 28
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c2d6ea14b81
                    type: cheer
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-06T01:03:03.148Z'
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:28:46 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '287'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "activityId" fails because ["activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
                    details:
                      - path:
                          - activityId
                        message: '"activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
    post:
      tags:
        - activities
      summary: '/:channel/:activityId1'
      description: Update activity id
      operationId: '/:channel/:activityId1'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: activityId
          in: path
          description: guid - Activity id
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "activityId" fails because ["activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
                    details:
                      - path:
                          - activityId
                        message: '"activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
  '/activities/{channel}/{activityId}/replay':
    post:
      tags:
        - activities
      summary: '/:channel/:activityId/replay'
      description: Replay activity
      operationId: '/:channel/:activityId/replay'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: activityId
          in: path
          description: guid - Activity id
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Success3'
              examples:
                default:
                  value:
                    success: true
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:30:25 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '16'
            Vary:
              schema: {}
              examples:
                __default_content:
                  value: X-HTTP-Method-Override
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "activityId" fails because ["activityId" with value "replay" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
                    details:
                      - path:
                          - activityId
                        message: '"activityId" with value "replay" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notfound2'
              examples:
                default:
                  value:
                    statusCode: 404
                    error: Not Found
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
  '/bot/commands/{channel}':
    get:
      tags:
        - commands
        - bot
      summary: '/:channel'
      description: List custom commands
      operationId: 'Get/:channel'
      parameters:
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BotCommand'
                example:
                  - cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    keywords: []
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    hidden: false
                    cost: 0
                    type: say
                    accessLevel: 100
                    _id: 5c0a5172de9a4c5b7da14d8a
                    regex: 'test[0-9]{3}'
                    reply: test response
                    command: test
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-07T10:54:42.594Z'
                    updatedAt: '2018-12-07T10:54:42.594Z'
              examples:
                default:
                  value:
                    - cooldown:
                        user: 15
                        global: 5
                      aliases: []
                      keywords: []
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      hidden: false
                      cost: 0
                      type: say
                      accessLevel: 100
                      _id: 5c0a5172de9a4c5b7da14d8a
                      regex: 'test[0-9]{3}'
                      reply: test response
                      command: test
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-07T10:54:42.594Z'
                      updatedAt: '2018-12-07T10:54:42.594Z'
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:56:32 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '389'
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
    post:
      tags:
        - commands
      summary: '/:channel'
      description: Create new command
      operationId: 'Post/:channel'
      parameters:
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channelrequest'
            examples:
              default:
                value:
                  cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  keywords: []
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  hidden: false
                  cost: 0
                  type: say
                  accessLevel: 100
                  regex: 'test[0-9]{3}'
                  reply: test response
                  command: test2
                  channel: 5b2e2007760aeb7729487dab
      responses:
        '201':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotCommand'
              examples:
                default:
                  value:
                    cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    keywords: []
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    hidden: false
                    cost: 0
                    type: say
                    accessLevel: 100
                    _id: 5c0a52dcde9a4c1de1a14d8d
                    regex: 'test[0-9]{3}'
                    reply: test response
                    command: test2
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-07T11:00:44.538Z'
                    updatedAt: '2018-12-07T11:00:44.538Z'
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 11:00:44 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '388'
            Vary:
              schema: {}
              examples:
                __default_content:
                  value: X-HTTP-Method-Override
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "command" fails because ["command" is not allowed to be empty]. child "type" fails because ["type" is not allowed to be empty, "type" must be one of [say, reply, whisper]]. child "accessLevel" fails because ["accessLevel" must be a number]. child "reply" fails because ["reply" is not allowed to be empty, "reply" length must be at least 1 characters long]'
                    details:
                      - path:
                          - command
                        message: '"command" is not allowed to be empty'
                      - path:
                          - type
                        message: '"type" is not allowed to be empty'
                      - path:
                          - type
                        message: '"type" must be one of [say, reply, whisper]'
                      - path:
                          - accessLevel
                        message: '"accessLevel" must be a number'
                      - path:
                          - reply
                        message: '"reply" is not allowed to be empty'
                      - path:
                          - reply
                        message: '"reply" length must be at least 1 characters long'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/channel_redemptions_itemId'
              examples:
                default:
                  value:
                    statusCode: 409
                    error: Conflict
                    message: Command test already exists
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
  '/bot/commands/{channel}/public':
    get:
      tags:
        - commands
        - bot
      summary: '/:channel/public'
      description: List channel's public commands
      operationId: '/:channel/public'
      parameters:
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BotCommand'
                example:
                  - cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    keywords: []
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    hidden: false
                    cost: 0
                    type: say
                    accessLevel: 100
                    _id: 5c0a5172de9a4c5b7da14d8a
                    regex: 'test[0-9]{3}'
                    reply: test response
                    command: test
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-07T10:54:42.594Z'
                    updatedAt: '2018-12-07T10:54:42.594Z'
                  - cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    keywords: []
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    hidden: false
                    cost: 0
                    type: say
                    accessLevel: 100
                    _id: 5c0a52dcde9a4c1de1a14d8d
                    regex: 'test[0-9]{3}'
                    reply: test response
                    command: test2
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-07T11:00:44.538Z'
                    updatedAt: '2018-12-07T11:01:37.758Z'
              examples:
                default:
                  value:
                    - cooldown:
                        user: 15
                        global: 5
                      aliases: []
                      keywords: []
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      hidden: false
                      cost: 0
                      type: say
                      accessLevel: 100
                      _id: 5c0a5172de9a4c5b7da14d8a
                      regex: 'test[0-9]{3}'
                      reply: test response
                      command: test
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-07T10:54:42.594Z'
                      updatedAt: '2018-12-07T10:54:42.594Z'
                    - cooldown:
                        user: 15
                        global: 5
                      aliases: []
                      keywords: []
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      hidden: false
                      cost: 0
                      type: say
                      accessLevel: 100
                      _id: 5c0a52dcde9a4c1de1a14d8d
                      regex: 'test[0-9]{3}'
                      reply: test response
                      command: test2
                      channel: 5b2e2007760aeb7729487dab
                      createdAt: '2018-12-07T11:00:44.538Z'
                      updatedAt: '2018-12-07T11:01:37.758Z'
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 19:33:09 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '778'
      deprecated: false
      security:
        - JWTBearer: []
        - OAuth2: []
        - ApiKeyBearer: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
  '/bot/commands/{channel}/default':
    get:
      tags:
        - commands
        - bot
      summary: '/:channel/default'
      description: Lists default commands
      operationId: '/:channel/default'
      parameters:
        - name: Accept
          in: header
          description: ''
          required: true
          style: simple
          schema:
            type: string
            example: application/json
        - name: language
          in: query
          description: string - language iso code lowercase (eg. en)
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Success6'
                example:
                  - commandId: raffle_join
                    command: join
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: raffle
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Join an active raffle
                  - commandId: emotes
                    command: emotes
                    subCommands:
                      - ffz
                      - bttv
                      - update
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    regex: ''
                    description: 'Active BTTV emotes in chat: Clap KKaper gachiBASS gachiGASM monkaS'
                  - commandId: srpause
                    command: pause
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Pause songrequest playback.
                  - commandId: leaderboard
                    command: leaderboard
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - ranklist
                    regex: ''
                    description: 'Check out the $(pointsname) Leaderboard here https://StreamElements.com/${channel.alias}/leaderboard'
                  - commandId: srqueue
                    command: songqueue
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 10
                    aliases:
                      - songlist
                    regex: ''
                    description: 'you can see the songrequest queue here https://StreamElements.com/${channel.alias}/songrequest'
                  - commandId: srplay
                    command: play
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases:
                      - resume
                    regex: ''
                    description: Resume songrequest playback.
                  - commandId: level
                    command: level
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    regex: ''
                    description: Set a viewers access level. Reset with !level <username> reset.
                  - commandId: givepoints
                    command: givepoints
                    accessLevel: 100
                    enabled: false
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - transfer
                      - give
                    regex: ''
                    description: Transfer points to another user.
                  - commandId: commands
                    command: commands
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - cmds
                    regex: ''
                    description: 'You can find a list of all Commands here https://StreamElements.com/${channel.alias}/commands'
                  - commandId: slotmachine
                    command: slots
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: slotmachine
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases:
                      - slotmachine
                      - slot
                      - sm
                      - smp
                    regex: ''
                    description: Play the slot machine
                  - commandId: hypecup
                    command: hypecup
                    subCommands:
                      - clear
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 1
                      global: 1
                    aliases: []
                    regex: ''
                    description: Control the HypeCup.
                  - commandId: contest_bet
                    command: bet
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 5
                      global: 0
                    aliases: []
                    regex: ''
                    description: Bet on a contest.
                  - commandId: accountage
                    command: accountage
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - accage
                      - created
                    regex: ''
                    description: '${user} was created 1 year 5 months 27 days 1 hour ago.'
                  - commandId: srremove
                    command: removesong
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 10
                    aliases:
                      - songs.pop()
                    regex: ''
                    description: 'Remove a users songs, or a single song from the queue.'
                  - commandId: raffle_singleraffle
                    command: sraffle
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: raffle
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases:
                      - singleraffle
                    regex: ''
                    description: Start a raffle with a single winner
                  - commandId: top
                    command: top
                    subCommands:
                      - points
                      - alltime
                      - online
                      - offline
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 5
                      global: 2
                    aliases: []
                    regex: ''
                    description: Show the top of the leaderboard.
                  - commandId: giveaway
                    command: giveaway
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    regex: ''
                    description: Show the currently active giveaway.
                  - commandId: followage
                    command: followage
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - howlong
                    regex: ''
                    description: '${user1} has been following ${user2} for 1 year 5 months 27 days 1 hour'
                  - commandId: srskip
                    command: skip
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 10
                    aliases:
                      - skipsong
                    regex: ''
                    description: Skip the current song
                  - commandId: wrongsong
                    command: wrongsong
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases:
                      - ctrl-z
                      - heybuddyithinkyougotthewrongsong
                    regex: ''
                    description: Removes your last song from the queue
                  - commandId: eightball
                    command: 8ball
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: eightball
                    cost: 0
                    cooldown:
                      user: 10
                      global: 3
                    aliases:
                      - eightball
                      - 69ball
                      - 420ball
                    regex: ''
                    description: Ask the magic 8-ball a question
                  - commandId: store_redeem
                    command: redeem
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 5
                      global: 1
                    aliases:
                      - buy
                    regex: ''
                    description: You successfully redeemed item1 for 420 points.
                  - commandId: permit
                    command: permit
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Prevent a viewer from getting timed out for 60 seconds.
                  - commandId: roulette
                    command: roulette
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: roulette
                    cost: 0
                    cooldown:
                      user: 60
                      global: 0
                    aliases:
                      - gamble
                    regex: ''
                    description: gamble your life away
                  - commandId: editpoints
                    command: addpoints
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases:
                      - editpoints
                      - bonus
                    regex: ''
                    description: Give points to viewers. Use 'all' for all chatters
                  - commandId: module
                    command: module
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 5
                    aliases: []
                    regex: ''
                    description: Enable or disable modules via chat.
                  - commandId: next
                    command: next
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases:
                      - nextsong
                      - whatisthenextsonghomie
                    regex: ''
                    description: 'next song: MrSuicideSheep - WE WON ZULUL [2m3s] requested by LordFluffyButt https://youtu.be/9OG-Qr1qAe4'
                  - commandId: store_items
                    command: items
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - store
                    regex: ''
                    description: 'Available items are: item1, item2, item3 https://StreamElements.com/${channel.alias}/store'
                  - commandId: srsongrequest
                    command: songrequest
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: songrequest
                    cost: 0
                    cooldown:
                      user: 15
                      global: 3
                    aliases:
                      - sr
                    regex: ''
                    description: 'Request a song by youtube id, url or video title.'
                  - commandId: srwhen
                    command: when
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 15
                    aliases:
                      - mysong
                    regex: ''
                    description: '"My Summer Car - Radio Chill" is at #2 in the queue and is playing 2 mins 3 secs'
                  - commandId: srvolume
                    command: volume
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Change the songrequest volume.
                  - commandId: kappagen
                    command: kappagen
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - emotesplosion
                    regex: ''
                    description: KappaGen emotesplosions.
                  - commandId: command
                    command: command
                    subCommands:
                      - add
                      - remove
                      - edit
                      - options
                      - show
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 3
                      global: 0
                    aliases:
                      - cmd
                    regex: ''
                    description: 'Add, edit and delete chat commands.'
                  - commandId: ping
                    command: ping
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleEnabled: true
                    moduleId: admin
                    cost: 0
                    cooldown:
                      user: 0
                      global: 15
                    aliases: []
                    regex: ''
                    description: streamelements has been running for 13 hours 47 mins!
                  - commandId: duel_accept
                    command: accept
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: duel
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases: []
                    regex: ''
                    description: Accept a duel request from another chatter
                  - commandId: bot
                    command: bot
                    subCommands:
                      - mute
                      - unmute
                      - part
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: 'Mute, unmute or remove the bot.'
                  - commandId: raffle_cancel
                    command: cancelraffle
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: raffle
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases:
                      - rafflecancel
                    regex: ''
                    description: Cancel an active raffle
                  - commandId: bingo
                    command: bingo
                    subCommands:
                      - bttv
                      - ffz
                      - twitch
                      - all
                      - cancel
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: bingo
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Play a game of emote-bingo
                  - commandId: pepes
                    command: pepes
                    accessLevel: 1000
                    enabled: false
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 5
                    aliases: []
                    regex: ''
                    description: Enable or disable pepes in bot responses.
                  - commandId: edit_counter
                    command: editcounter
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases:
                      - editcount
                    regex: ''
                    description: 'Edit a custom ${count <name>}/${getcount <name>} counter'
                  - commandId: voteskip
                    command: voteskip
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: songrequest
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases: []
                    regex: ''
                    description: Vote to skip the current song
                  - commandId: raffle_multiraffle
                    command: raffle
                    accessLevel: 500
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: raffle
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases:
                      - mraffle
                      - multiraffle
                    regex: ''
                    description: Start a raffle with multiple winners
                  - commandId: duel
                    command: duel
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: duel
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases: []
                    regex: ''
                    description: Duel another chatter for points
                  - commandId: setpoints
                    command: setpoints
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Set the points of a viewer.
                  - commandId: watchtime
                    command: watchtime
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 1
                    aliases:
                      - viewtime
                    regex: ''
                    description: '${user} has spent ${user.time_online|''0 seconds''} watching ${channel}'
                  - commandId: duel_cancel
                    command: cancelduel
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: duel
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: Cancel a duel request to another chatter
                  - commandId: quote
                    command: quote
                    subCommands:
                      - add
                      - remove
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 0
                    aliases: []
                    regex: ''
                    description: 'Add, remove and show quotes.'
                  - commandId: points
                    command: points
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 5
                      global: 1
                    aliases: []
                    regex: ''
                    description: $(user) has $(user.points) $(pointsname) and is rank $(user.points_rank) on the leaderboard.
                  - commandId: chatstats
                    command: chatstats
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - twitchstats
                    regex: ''
                    description: 'https://stats.StreamElements.com/c/$(channel) PogChamp'
                  - commandId: srsong
                    command: song
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 15
                    aliases: []
                    regex: ''
                    description: 'current song: harambe.waw - WE WON ZULUL [2m3s] requested by nuuls https://youtu.be/9OG-Qr1qAe4'
                  - commandId: settitle
                    command: settitle
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 15
                    aliases:
                      - setitle
                    regex: ''
                    description: Update the stream title.
                  - commandId: duel_deny
                    command: deny
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: duel
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases: []
                    regex: ''
                    description: Deny a duel request from another chatter
                  - commandId: giveaway_enter
                    command: enter
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 10
                      global: 0
                    aliases:
                      - ticket
                    regex: ''
                    description: Buy tickets for a giveaway.
                  - commandId: uptime
                    command: uptime
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - downtime
                    regex: ''
                    description: '${channel} has been streaming for 2 hours 20 mins'
                  - commandId: contest_contest
                    command: contest
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases: []
                    regex: ''
                    description: Show the currently active contest.
                  - commandId: tip
                    command: tip
                    accessLevel: 100
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 15
                      global: 5
                    aliases:
                      - donate
                    regex: ''
                    description: 'You can Tip to $(channel) using this link https://StreamElements.com/${channel.alias}/tip'
                  - commandId: setgame
                    command: setgame
                    accessLevel: 1000
                    enabled: true
                    enabledOnline: true
                    enabledOffline: true
                    moduleId: ''
                    cost: 0
                    cooldown:
                      user: 0
                      global: 15
                    aliases: []
                    regex: ''
                    description: Update the channels game.
              examples:
                default:
                  value:
                    - commandId: raffle_join
                      command: join
                      accessLevel: 100
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: raffle
                      cost: 0
                      cooldown:
                        user: 0
                        global: 0
                      aliases: []
                      regex: ''
                      description: Join an active raffle
                    - commandId: emotes
                      command: emotes
                      subCommands:
                        - ffz
                        - bttv
                        - update
                      accessLevel: 100
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 15
                        global: 5
                      aliases: []
                      regex: ''
                      description: 'Active BTTV emotes in chat: Clap KKaper gachiBASS gachiGASM monkaS'
                    - commandId: srpause
                      command: pause
                      accessLevel: 500
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 0
                        global: 0
                      aliases: []
                      regex: ''
                      description: Pause songrequest playback.
                    - commandId: leaderboard
                      command: leaderboard
                      accessLevel: 100
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 15
                        global: 5
                      aliases:
                        - ranklist
                      regex: ''
                      description: 'Check out the $(pointsname) Leaderboard here https://StreamElements.com/${channel.alias}/leaderboard'
                    - commandId: srqueue
                      command: songqueue
                      accessLevel: 500
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 0
                        global: 10
                      aliases:
                        - songlist
                      regex: ''
                      description: 'you can see the songrequest queue here https://StreamElements.com/${channel.alias}/songrequest'
                    - commandId: srplay
                      command: play
                      accessLevel: 500
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 0
                        global: 0
                      aliases:
                        - resume
                      regex: ''
                      description: Resume songrequest playback.
                    - commandId: level
                      command: level
                      accessLevel: 1000
                      enabled: true
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 15
                        global: 5
                      aliases: []
                      regex: ''
                      description: Set a viewers access level. Reset with !level <username> reset.
                    - commandId: givepoints
                      command: givepoints
                      accessLevel: 100
                      enabled: false
                      enabledOnline: true
                      enabledOffline: true
                      moduleId: ''
                      cost: 0
                      cooldown:
                        user: 15
                        global: 5
                      aliases:
[...]
